<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <!-- Fungsi ini digunakan untuk mengulang tabel di bawah sebanyak jumlah user di database -->
        <% for(let i = 0; i < user.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= user[i].username %></td>
          <td><%= user[i].email %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.name}`: '' %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.address}`: '' %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.phone_number}`: '' %></td>
          <!-- Tombol di bawah digunakan untuk menghilangkan data user yang bersangkutan -->
          <td><button type="button" class="btn btn-info"
                      onclick="window.location.href = `/users/<%= user[i].id %>`">Edit</button></td>
          <td><button type="button" class="btn btn-danger"
                        onclick="deleteUser(`<%= user[i].id %>`)">Delete</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      // Ini adalah fungsi yang digunakan untuk menghilangkan data user
      // Yang nantinya ditempel ke tombol button delete di atas
      function deleteUser(id){
        alert('Apakah anda yakin ingin melenyapkan user ini?')
        fetch('/users/' + id, {
              method: 'DELETE',
            })
            .then(res => res.text()) // or res.json()
            .then(res => console.log(res))
      }
    </script>
  </body>
</html>
